body {
  width: 100%;
  scroll-behavior: smooth;
  margin: none;
}

section {
  //   border: 1px solid black;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  margin: 32px 0px;
  h1 {
    text-align: center;
  }
  p {
    width: 80%;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  background-color: red;
  padding: 12px;
}

.navbar {
  background-color: red;
}

.navbar-nav {
  li > a {
    color: white;
  }
}

.container {
  height: 80px;
  width: 100%;
  color: white;
  box-sizing: border-box;
  padding: 12px;
  .navbar-brand {
    color: white;
  }
}

.images {
  img {
    width: 100%;
    margin: 18px;
  }
}

#about {
  * {
    text-align: center;
  }
}

#home {
  * {
    text-align: center;
  }
}

#gallery {
  height: min-content;
}

#mapLocation {
  height: min-content;
  img {
    height: 50%;
    width: 100%;
  }
  iframe {
    height: 50%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  h2 {
    width: 50%;
  }

  section {
    width: 80%;
    p {
      width: 40%;
      padding-top: 16px;
    }
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
  }
}
